<!-- 管理动画 -->
{include file="base/header"/}<!--引入网站头部-->
<title>管理动画</title>
</head>

<body id="body">
<!-- 内容主体区域 -->
<blockquote class="layui-elem-quote">管理动画信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #cc0033">注意 :不推荐使用硬删除!!若要禁用某一个动漫推荐使用禁用!</span></blockquote>
<table class="layui-table" lay-filter="demo" lay-data="{
                        width: 1500,
                        height:'full-30',
                        url:'comicData',//数据源
                        page:true,//开启分页
                        id:'idTest',//本表的id
                        limit:17,//一页的数据量
                        done: function(res, curr, count){
                        //如果是异步请求数据方式，res即为你接口返回的信息。
                        //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                        console.log(res);

                        //得到当前页码
                        console.log(curr);

                        //得到数据总量
                        console.log(count);
                      }
                    }">
    <thead>
    <tr>
        <th lay-data="{field:'Id', width:70, sort: true, fixed: true}">Id</th>
        <th lay-data="{field:'ComicName',edit:'text',width:150}">动漫名称</th>
        <th lay-data="{field:'ComicType', width:150}">所属类型</th>
        <th lay-data="{field:'ImgUrl', width:130}">封面图片</th>
        <th lay-data="{field:'ComicDetailed',edit:'text', width:260}">动漫详情</th>
        <th lay-data="{field:'ComicNumber', width:100}">动漫集数</th>
        <th lay-data="{field:'gmt_create', width:200, sort: true}">创建时间</th>
        <th lay-data="{field:'gmt_modified', width:200, sort: true}">最近修改时间</th>
        <th lay-data="{field:'is_deleted', width:100 ,templet: '#switchTpl', unresize: true}">是否启用</th>
        <th lay-data="{fixed: 'right', width:130, align:'center', toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>

<script type="text/html" id="barDemo">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="switchTpl">
    <!-- {{d.TypeId}}用来获取本列的TypeId   {{ d.is_deleted == 0 ? 'checked' : '' }}根据is_deleted来设置单选项的状态 -->
    <input type="checkbox" name="sex" value="{{d.Id}}"  lay-skin="switch" lay-text="禁用|启用" lay-filter="delete" {{ d.is_deleted == 0 ? 'checked' : '' }}>
</script>


<script>
    /* 返回ajax对象 */
    function getAJAX(){
        if (window.XMLHttpRequest) {
            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            return new XMLHttpRequest();
        }
        else {
            // IE6, IE5 浏览器执行代码
            return new ActiveXObject("Microsoft.XMLHTTP");
        }
    }

    /* 数据表的js */
    layui.use('table', function(){
        var table = layui.table;
        var form = layui.form;
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            //console.log(obj)//输出选择信息
        });

        //监听单元格编辑，设置了edit属性的行才可以进行单元格编辑
        table.on('edit(demo)', function(obj){
            var value = obj.value;//得到修改后的值
            var data = obj.data;//得到所在行所有键值
            var field = obj.field; //得到被修改的字段名
//            layer.msg('[ID: '+ data.Id +'] ' + field + ' 字段更改为：'+ value);
            var xmlhttp = getAJAX();
            xmlhttp.onreadystatechange=function(){
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    /* 发送成功之后的提示信息 */
                    if(xmlhttp.responseText=="true"){
                        layer.msg("操作成功!");
                    }else{
                        layer.msg("未知错误!");
                    }
                }
            }
            /* 选择POST模式发送ID */
            xmlhttp.open("POST","unitTableModified",true);
            xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xmlhttp.send("value="+value+"&Id="+data.Id+"&field="+field);
        });

        //监听删除操作，需要加载form模块
        form.on('switch(delete)', function(obj){
            /* 根据单选框的值来传改变is_deleted的值 */
            var is_deleted;
            if(obj.elem.checked){
                /* 启用 */
                is_deleted = 0;
            }else{
                /* 停用 */
                is_deleted = 1;
            }
            var Id = obj.value;//获取该列的Id

            var xmlhttp = getAJAX();

            xmlhttp.onreadystatechange=function(){
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    /* 发送成功之后的提示信息 */
                    if(xmlhttp.responseText=="true"){
                        layer.msg("操作成功!");
                    }else if(xmlhttp.responseText=="-1"){
                        layer.msg("该动漫的类型已被禁用!本次操作无效!");
                        obj.elem.checked = true;//禁止复选框的操作，但是貌似有点问题，多点几下就知道问题是什么了
                    }else{
                        layer.msg("未知错误!");
                    }
                }
            }
            /* 选择POST模式发送ID */
            xmlhttp.open("POST","setComicIs_deleted",true);
            xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xmlhttp.send("is_deleted="+is_deleted+"&Id="+Id);
        });



        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                /* 删除游戏信息 */
                layer.confirm('真的删除吗?删除后将无法恢复!', function(index){
                    var xmlhttp = getAJAX();
                    xmlhttp.onreadystatechange=function(){
                        if (xmlhttp.readyState==4 && xmlhttp.status==200)
                        {
                            /* 发送成功之后的提示信息 */
                            if(xmlhttp.responseText=="true"){
                                layer.msg("操作成功!");
                                obj.del();
                            }else{
                                layer.msg("未知错误!");
                            }
                        }
                    }
                    /* 选择POST模式发送ID */
                    xmlhttp.open("POST","deleteComic",true);
                    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                    xmlhttp.send("Id="+JSON.stringify(data.Id));
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                /* 修改动画内容 */
                window.location.href="modifiedComicPage?Id="+JSON.stringify(data.Id);
            }
        });

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</div>
</body>
</html>