{include file="base/header"/}<!--引入网站头部-->
<title>{$Comic.ComicName}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="video/dist/plyr.css">

<script src="video/dist/plyr.js"></script>
<style>
    /*body{background-color: #262626}*/
    .m{ margin-left: auto; margin-right: auto; width: 960px; margin-top: 20px; }
</style>

</head>

<body id="body">
<div class="layui-layout layui-layout-admin">
    <blockquote class="layui-elem-quote">{$Comic.ComicName}</blockquote>
    <div class="m">
        <video poster="vs.png" controls>
            <source src="static/Upload/Video/{$ComicUrl}" type="video/mp4">
        </video>
        <script>plyr.setup();</script>
    </div>
</div>

<!--<div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">-->
    <!--<a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a>-->
    <!--<span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></span>-->
    <!--<a href="javascript:;" data-page="2">2</a>-->
    <!--<a href="javascript:;" data-page="3">3</a>-->
    <!--<a href="javascript:;" class="layui-laypage-next" data-page="2">下一页</a>-->
<!--</div>-->

<div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
    {volist name='pageList' id='vo'}
        {$vo}
    {/voList}
</div>


<script>
    /**
     * 用于跳转到新页面的方法
     */
    function newWindow(Url){
        window.location.href=Url;
    }
</script>

</body>
</html>